[push]
	default = simple
[alias]
	last = log -1 --stat
	tl = "for-each-ref --sort=v:tag --format '%(refname:strip=2) - (%(objectname:short)) - %(*objectname:short) - %(subject) - %(taggerdate)' refs/tags"
	trace = log --graph --decorate --oneline --all
[core]
	editor = nano
[pull]
	ff = only
[gpg]
	format = ssh
[commit]
	gpgSign = true
[init]
	defaultBranch = main
[rerere]
	enabled = true
[column]
	ui = auto
[branch]
	sort = -committerdate

[include]
	path = ~/.gitconfig.local

